
  
  .btn-no {
    position: absolute;
  }

  .container {
    margin-top: 150px;
    
  }
  
  .img-container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  h1 {
      font-size: 64px;
  }

  p {
      font-size: 48px;
  }

  .btn {
    padding: 12px 24px;
    margin: 25px;
    width: 200px;
    height: 70px;
    font-size: 24px;
  }

  body {
    background-color: #C2E8E7;
    overflow: hidden;
  }

  .but {
    width: 500px;
  }
  

  